:root {
  --back-color: #000000;
  --primary-color: #000000;
  --header-back: #1a1d24;
  --header-text: #000;
}

body {
  background-color: var(--back-color);
  color: var(--primary-color);
}

header {
  background-color: var(--header-back);
  color: var(--header-text);
}

.box img {
  border: 2px solid var(--primary-color);
}