*{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	flex-wrap: wrap;
}

/*FOR RESPONSIVE IMAGES IN CARDS*/
img .responsive{
  width: 100%;
  max-width: 205px;
  height: auto;
}
/*NAV BAR*/
nav {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 30%;
	background-color: #80aaff;
	padding: 10px 10px 10px 10px;
}
.navtxt{
	text-decoration: none;
	color: white;
	padding: 10px 10px;
	/*size: 30px;*/
	font-family: 'Yusei Magic', sans-serif;
    font-size: 18px;
}

.navtxt:hover{
	color: cyan;
	font-family: 'Hachi Maru Pop', cursive;
}

.icons{
	padding-right: 5px;
}
.body{
    background-color:#6699ff;
}
.vieworder{
    visibility: hidden;
}
.wlcmntxt{
    padding:10px;
}
.wlcmtxt,.text{
    color:white;
}
.text, .btnn{
    font-size:20px;
    padding:10px;
}