*{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	flex-wrap: wrap;
}

/*FOR RESPONSIVE IMAGES IN CARDS*/
img .responsive{
  width: 100%;
  max-width: 205px;
  height: auto;
}
/*NAV BAR*/
nav {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 30%;
	background-color: #666666;
	padding: 10px 10px 10px 10px;
}

.img{
	padding: 10px 10px;
	transition: width 2s, height 2s, transform 2s;
}
.img:hover {
  width: 300px;
  height: 300px;
  transform: rotate(360deg);
}
.navtxt{
	text-decoration: none;
	color: white;
	padding: 10px 10px;
	/*size: 30px;*/
	font-family: 'Yusei Magic', sans-serif;
    font-size: 18px;
}

.navtxt:hover{
	color: cyan;
	font-family: 'Hachi Maru Pop', cursive;
}

.icons{
	padding-right: 5px;
}

/*SLIDER*/
  .carousel-inner img {
  	margin-top: 10px;
  	margin-left: 10px;
  	margin-right: 10px;
    width: 100%;
    height: 40vw;
    
  }
  /*MENU CARDS*/
  .menu{
  	margin-top: 50px;
  	position: relative;
  	animation: mymove 10s;
   }
   .menuitem{
   	animation: mymove 10s;
   }
  .cardtxt{
  	font-size: 30px;
  	font-family: 'Roboto', sans-serif;
  }
  .cardtxt1{
  	font-size: 20px;
  	font-family: 'Roboto', sans-serif;
  }
.menuitem{
	animation-timing-function: ease-out;
}
@keyframes mymove {
  from {top: -500px;}
  to {top: 0px;}
}

.cardtext{
	font-family: 'Dancing Script', cursive;
	font-size: 25px;
}

/*THEME SWITCHER*/
:root {
  --light: #ffffff;
  --sky: #7f9cf5;
  --purple: #97266d;
  --dark: #81899b;
}

/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

/*body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  overflow-x: hidden;
}*/

header {
  text-align: center;
  font-size: 30px;
  padding: 50px 0;
}

.theme-switches {
  display: flex;
  justify-content: center;
  position: relative;  
}

.switch {
  border: 2px solid black;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  margin: 10px;
  cursor: pointer;
}

.switch:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}

#switch-1 {
  background-color: var(--light);
}

#switch-2 {
  background-color: var(--sky);
}

#switch-3 {
  background-color: var(--purple);
}

#switch-4 {
  background-color: var(--dark);
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.box {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.box img {
  max-height: 300px;
  width: auto;
  border-radius: 20px;
  margin: 20px;
}

.text {
  width: 50%;
}

.text h3 {
  font-size: 35px;
  padding: 30px 0;
  font-weight: 600;
}

.text p {
  font-size: 20px;
  font-weight: 400;
}

/* Media Query */
@media (max-width: 768px) {
  header h1 {
    font-size: 25px;
  }

  .box {
    display: flex;
    flex-wrap: wrap;
  }

  .box img {
    max-width: 80vw;
  }

  .text {
    width: 80%;
  }
}

@media screen and (max-width: 992px) {
  .switch {
   border: 2px solid black;
  border-radius: 50px;
  height: 15px;
  width: 15px;
  margin: 1px;
  cursor: pointer;
  }
}

/*RESPONSIVE CARD IMAGES*/
@media screen and (max-width: 992px) {
.responsive, .cardtxt, .cardtxt1{
  width: 100% !important;
  max-width: 205px !important;
  height: auto !important;
}
}
